.MainHeader{
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 70px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
}
.MainLogo{
    height:40px;
    margin-left: 80px;
    cursor: pointer;
}
.MainSearchBar{
    margin-top: 0;
    width: 650px;
    height: 40px;
    margin-left: 50px;
    padding-left: 10px;
    font-size: medium;
    border-radius: 5px;
    border-width: 0;
    background-color: rgba(184, 191, 191, 0.779);
}
.Cart{
    margin-left: 260px;
    cursor: pointer;
}
.LSButton{
    margin-left: 40px;
    height: 40px;
    width: 143px;
    padding: 2px;
    background-color: rgba(239, 180, 52, 0.995);
    border-width: 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size:medium;

}
.Options{
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}
.NavBar{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Option:hover{
    cursor: pointer;
    color: grey;
}
.NewLauch{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 180, 52, 0.995);
}
.slider-wrapper {
    position: relative;
    margin: 0 auto;
}
.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%, 0.25);
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #252525;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer;
}
.slider-nav a:hover {
    opacity: 1;
}
.Footer{
    display: flex;
    flex-direction: column;
}
.details{
    display: flex;
    flex-direction: row;
}


